.user-menu {
  display: flex;
  cursor: pointer;
  color: #524ba7;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 20px;
  padding: 13px 20px;
  align-items: center;
  background: rgba(178, 171, 255, 0.1);
  border-radius: 158px;
  &__img {
    margin-top: 8px;
  }
  .highlight {
    color: #1aa080;
  }
  &__select {
    display: flex;
    flex-direction: row;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    z-index: 9999;
    &__button {
      width: 80px;
      color: #524ba7;
      text-decoration: none;
    }
    &__button_exit {
      width: 80px;
      color: #524ba7;
      text-decoration: none;
      margin-left: 30px;
      margin-right: 25px;
    }
  }
}
