.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-wrap: normal;
  &__heading {
    font-family: "Playfair Display SC", serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #cfbdbd;
    text-align: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    align-items: center;
  }

  &__button {
    margin-top: 30px;
    &_signin {
      margin-left: 55px;
    }
    &_back {
      text-decoration: none;
    }
  }
  &__checkbox {
    margin-left: 0px;
  }
}
