.input-form {
  display: flex;
  align-items: center;
  &__input {
    padding: 0px 20px;
    border-radius: 20px;
    height: 30px;
    width: 490px;
    border: 2px solid mediumturquoise;
    margin-bottom: 20px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    &:focus {
      outline: none;
      border: 2px solid #524ba7;
    }
    &::placeholder {
      color: #a7a7a7;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
    }
  }
  &__btn {
    margin-left: 20px;
    border-radius: 20px;
    width: 80px;
    height: 35px;
    border: 2px solid mediumturquoise;
    margin-bottom: 20px;
    background-color: rgba(46, 201, 228, 0.37);
    &:hover {
      background-color: rgb(93, 139, 224);
    }
  }
}
