.header {
  position: relative;
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  &__logo {
    position: absolute;
    top: 10px;
    left: 5%;
  }
  .highlight {
    color: #1aa080;
  }
  .low {
    position: absolute !important;
    top: 100px !important;
    left: 5% !important;
    margin-top: 0 !important;
  }
  &__search {
    position: relative;
    margin-top: 50px;
    .input-hidden {
      width: 55px;
      padding: 0;
    }
    & img {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    & input {
      margin-right: 30px;
      width: 400px;
      height: 54px;
      background: rgba(178, 171, 255, 0.1);
      border-radius: 158px;
      border: none;
      padding-left: 60px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #121212;
      &:focus {
        outline: none;
        border: 2px solid #524ba7;
      }
    }
  }
  &__links {
    display: flex;
    margin-top: 50px;
    margin-right: 60px;
    color: #524ba7;
    text-decoration: none;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    &-login {
      background: #ffffff;
      border: 5px solid #524ba7;
      width: 157px;
      font-weight: 500;
      font-size: 20px;
      margin-left: 20px;
      height: 63px;
      backdrop-filter: blur(7px);
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
    &-signup {
      font-weight: 500;
      font-size: 20px;
      margin-left: 30px;
      background: #b2abff;
      border: 5px solid #524ba7;
      width: 157px;
      height: 63px;
      color: #ffffff;
      backdrop-filter: blur(7px);
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
  }
}
// @media screen and (max-width: 768px){
//     .header {
//         display: flex;
//         justify-content: center;
//         &__link {
//             font-size: 16px;
//             margin: 0px 10px;
//         }
//     }
// }
// @media screen and (max-width: 320px){
//     .header {
//         display: flex;
//         justify-content: center;
//         &__link {
//             font-size: 14px;
//             margin: 0px 10px;
//         }
//     }
// }
