.header {
  position: relative;
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  &__logo {
    position: absolute;
    top: 10px;
    left: 5%;
  }
  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
    width: 60px;
    height: 40px;
    position: relative;
    border-radius: 4px;
    &:hover {
      background: rgb(185, 82, 82);
    }
    &__badge {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      right: -10px;
      font-size: 16px;
      border-radius: 50%;
      background: red;
      color: white;
    }
  }
  &__links {
    display: flex;
    margin-top: 50px;
    margin-right: 80px;
    color: #524ba7;
    text-decoration: none;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    &-login {
      background: #ffffff;
      border: 5px solid #524ba7;
      width: 157px;
      height: 63px;
      backdrop-filter: blur(7px);
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
    &-signup {
      margin-left: 30px;
      background: #b2abff;
      border: 5px solid #524ba7;
      width: 157px;
      height: 63px;
      color: #ffffff;
      backdrop-filter: blur(7px);
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
  }
}
// @media screen and (max-width: 768px){
//     .header {
//         display: flex;
//         justify-content: center;
//         &__link {
//             font-size: 16px;
//             margin: 0px 10px;
//         }
//     }
// }
// @media screen and (max-width: 320px){
//     .header {
//         display: flex;
//         justify-content: center;
//         &__link {
//             font-size: 14px;
//             margin: 0px 10px;
//         }
//     }
// }
