.chat-page {
  display: flex;
  flex-direction: row;
  .chats {
    &__person-link {
      text-decoration: none;
      color: black;
    }
    &__person {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      &__img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
      }
      &__name {
        margin-right: 20px;
      }
      &:hover {
        background: rgba(22, 150, 236, 0.445);
        border-radius: 50px;
      }
    }
  }
  .chat {
    width: 100%;
    margin-left: 10%;
    margin-right: 20%;
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
      }
      &__name {
        font-size: 20px;
        font-family: fantasy;
        margin-right: 20px;
      }
    }
    &__message {
      &__right-message {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        p {
          padding: 10px 20px;
          background-color: rgba(51, 88, 255, 0.137);
          border-radius: 20px;
        }
      }
      &__left-message {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        p {
          padding: 10px 20px;
          background-color: rgba(51, 190, 255, 0.089);
          border-radius: 20px;
        }
      }
    }
  }
}
