.partial-media-person-info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  &__container {
    .btn {
      display: flex;
      margin-top: 30px;
      margin-right: 20px;
      width: 300px;
      height: 100px;
    }
  }
}
.partial-media-person-img {
  position: absolute;
  left: 0px;
  top: 0px;
  &__img {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 170px;
    height: 170px;
  }
}
