.order-partial-info {
  position: relative;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bolder !important;
      font-size: 28px;
      color: #121212 !important;
    }
    p {
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      margin-top: 5px;
      color: #000000;
    }
    .btn {
      background: transparent;
      cursor: pointer;
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 29px;
      color: #524ba7;
      text-shadow: 1px -2px 8px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      margin-top: 15px;
      outline: none;
      border: none;
    }
  }
}
