.order-create-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  &__col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin-top: 0px;
    }
    margin-right: 40px;
    .container {
      position: relative;
      margin: 20px 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      &__error-image {
        position: absolute;
        top: 18px;
        right: 18px;
      }
      &__error-text {
        position: absolute;
        top: 18px;
        right: -200px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #fa4cb4;
      }
      &__warning-text {
        position: absolute;
        top: 18px;
        right: -210px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #fa4cb4;
      }
      & .warning {
        border: 5px solid #fa4cb4 !important;
      }
      & input {
        border: 5px solid #121212;
        width: 427px;
        height: 50px;
        background: #ffffff;
        border-radius: 15px;
        padding: 0 20px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        &:focus {
          outline: none;
          border: 5px solid #524ba7;
        }
        &::placeholder {
          color: #a7a7a7;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
        }
      }
      &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        border: 5px solid #121212;
        width: 940px;
        height: 212px;
        background: #ffffff;
        padding: 12px 20px;
        border-radius: 5px;
        outline: none;
        transition: border 0.5s;
        -webkit-transition: border 0.5s;
        -moz-transition: border 0.5s;
        -o-transition: border 0.5s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
        overflow: auto;
        &:focus {
          outline: none;
          border: 5px solid #524ba7;
        }
        &::placeholder {
          color: #a7a7a7;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}
.button-save {
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 20px;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 20px;
    background: #b2abff;
    border: 5px solid #524ba7;
    width: 157px;
    height: 63px;
    color: #ffffff;
    backdrop-filter: blur(7px);
    text-decoration: none;
    border-radius: 5px;
  }
}
