.advertise-profile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container-img {
    &__img {
      border-radius: 173px;
      border: 4px solid #b2abff;
      width: 341px;
      height: 341px;
    }
  }
  &__information {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .information__container__name {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #121212;
      }
      .information__container__info {
        a {
          text-decoration: none;
          color: #a59dfc;
        }
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
      }
    }
  }
}

.information-activity {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
  flex-direction: row;
  &__name {
    margin-left: 30px;
  }
}
.edit-advertiser {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  &__link {
    position: absolute;
    top: 160px;
    right: 5%;
  }
}
