.list-media-persons {
  margin-left: 0;
  list-style: none;
  font-family: calibri;
  &__person {
    position: relative;
    left: 1.5em;
    margin-bottom: 0.75em;
    background: #7cb9eb70;
    margin-right: 3%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 170px;
  }
}
