
.list-media-persons {
  margin-left: 0;
  list-style: none;
  font-family: calibri;
  &__person {
    position: relative;
    left: 1.5em;
    margin-bottom: 0.75em;
    background: #c5cef5ad;
    margin-right: 3%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 170px;
    &:before {
      padding: 10px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.5em;
      width: 1.875em;
      text-align: center;
      color: white;
      font-weight: bold;
      background: #D66786;
      border-bottom-left-radius: 70em;
      border-top-left-radius: 70em;
    }
  }
}