.partial-media-person-order-info{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  &__container{
    .btn{
      margin-top: 30px;
      margin-left: 30px;
      width: 100px;
      height: 50px;
    }
  }
  .col-1{

  }
  .col-2{
    margin-left: 30px;
    width: 200px;
  }
  .col-3{
    display: flex;
    margin-left: 0px;
    
  }
}