.list-orders {
  margin-top: 100px;
  width: 90%;
  margin-left: 1%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item-order {
    z-index: 9999;
    margin-top: 50px;
    position: relative;
    display: flex;
    width: 240px;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 50px;
    &__notif {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      position: absolute;
      width: 50px;
      height: 50px;
      top: -40px;
      left: -30px;
      font-size: 16px;
      border-radius: 50%;
      background: #b2abff;
      color: white;
    }
  }
}
.button-gradient {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  width: 90%;
  margin: 10px 3%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #a66aeb 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  margin-bottom: 50px;
  &:hover {
    background-position: right center;
  }
}
